<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ session['username'] }}</h2>
        <h3>Your Appointments</h3>

        {% if appointments %}
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td data-label="Service">{{ appointment[1] }}</td>
                        <td data-label="Date">{{ appointment[2] }}</td>
                        <td data-label="Time">{{ appointment[3] }}</td>
                        <td data-label="Actions">
                            <a href="{{ url_for('edit_appointment', appointment_id=appointment[0]) }}">
                                <button class="big-btn">Edit</button>
                            </a>
                            <button class="delete-appointment big-btn" data-id="{{ appointment[0] }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No appointments booked.</p>
        {% endif %}

        <a href="{{ url_for('book') }}"><button class="big-btn">Book a new Appointment</button></a>
        <a href="{{ url_for('logout') }}"><button class="logout-btn">Logout</button></a>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
